
  body {
      font-family: Arial, sans-serif;
           margin: 20px;
           background-color: #2596be;
    }

 #expenseList {
  list-style-type: none;
  padding: 0;
  }

 li {
      margin-bottom: 10px;
         padding: 10px;
         border: 1px solid #ccc;
        border-radius: 5px;
         display: flex;
         justify-content: space-between;
         align-items: center;
        }

 button {
     cursor: pointer;
 }
 h1{
    text-align: center;
 }

 .lable{
    font-size: large;
    display:flex;
    justify-content: space-around;
 }

 
 li{
    background-color: yellowgreen;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
 }
 span{
    width: 300px;
 }

span .c2{
    margin-left: 10px;
}
